<div class="col-sm-6 my-1 mx-auto">
  <label class="sr-only" for="register_company-name">{{label}}</label>
  <div class="input-group">
    <div class="app-form-addon input-group-prepend">
      <div class="input-group-text w-100">{{label}}</div>
    </div>
    <input type="text" class="form-control" (input)="onChange($event.target.value)" (blur)="onBlur()" [placeholder]="placeholder"
      [disabled]="disabled" #input>
  </div>
  <app-form-error [controlDir]="controlDir"></app-form-error>
</div>