<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="search">ブラックリスト</a>
  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="collapsing_Navbar"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse" id="collapsing_Navbar">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="search">検索</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="register">登録</a>
      </li>
    </ul>
  </div>
</nav>

<main id="body-top" role="main" class="container">
  <router-outlet></router-outlet>
</main>