.app-form-addon {
  width: 100px;
}
.app-form-error-box {
  height: 20px;
}
.app-form-error-massege {
  font-size: 12px;
  color: red;
}
.app-form-error-input {
  background-color: rgb(240, 190, 190);
}
