/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~open-iconic/font/css/open-iconic.css";

body {
  padding-top: 5rem;
  background: #5b6a78;
}
main {
	width: 80%;
	margin: 0 auto;
	padding: 14px;
	background: #fff;
}