<div class="col-sm-6 my-1 mx-auto">
  <label class="sr-only" for="register_remarks">{{label}}</label>
  <div class="input-group">
    <div class="app-form-addon input-group-prepend">
      <div class="input-group-text w-100">{{label}}</div>
    </div>
    <textarea class="form-control" rows="5" (input)="onChange($event.target.value)" (blur)="onTouched()" [placeholder]="placeholder"
      [disabled]="disabled" #textarea></textarea>
  </div>
  <app-form-error [isDisplay]="errorDisplay" [controlDir]="controlDir"></app-form-error>
</div>