<!-- タイトル -->
<app-title [title]="'ブラックリスト登録'"></app-title>
<!-- フォーム -->
<form class="mx-auto" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <!-- 企業名 -->
  <app-input-form [label]="'企業名*'" [placeholder]="'例) オールスマート'" formControlName="company-name"></app-input-form>
  <!-- 電話番号 -->
  <app-input-form [label]="'電話番号*'" [placeholder]="'例) 0364412475'" formControlName="phone-number"></app-input-form>
  <!-- 担当者名 -->
  <app-input-form [label]="'担当者名'" [placeholder]="'例) 森 大夢'" formControlName="contact-name"></app-input-form>
  <!-- 業種名 -->
  <app-input-form [label]="'業種名'" [placeholder]="'例) システム開発'" formControlName="industry-name"></app-input-form>
  <!-- 備考 -->
  <app-text-area [label]="'備考'" formControlName="remarks"></app-text-area>
  <!-- フォームのフッター -->
  <div class="col-sm-6 mx-auto button-position">
    <!-- 登録ボタン -->
    <button type="submit" class="btn btn-success">登録</button>
    <!-- 取消ボタン -->
    <button type="reset" (click)="reset()" class="btn btn-danger">取消</button>
  </div>
</form>